* {margin: 10px;}
div {
    width: 200px;
    height: 200px;
    border: 4px solid green;
    border-radius: 100%;
    background-image: url(../imgs/doggy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
img {
    border: 4px solid blue;
    border-radius: 100%;
    width: 50%;
    height: 50%;
}